/******************/
/*FONTS*/
/*****************/

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neuemedium_extended';
    src: url('../fonts/helvetica_neue_medium_extended-webfont.woff2') format('woff2'),
    url('../fonts/helvetica_neue_medium_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_stdbold_condensed';
    src: url('../fonts/futurastd-condensedbold-webfont.woff2') format('woff2'),
    url('../fonts/futurastd-condensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_stdXBdCn';
    src: url('../fonts/futurastd-condensedextrabd-webfont.woff2') format('woff2'),
    url('../fonts/futurastd-condensedextrabd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tradegothic_lt_condeighteenBd';
    src: url('../fonts/trade_gothic_lt_bold_condensed_no._20-webfont.woff2') format('woff2'),
    url('trade_gothic_lt_bold_condensed_no._20-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;
}

button, summary {
    cursor: pointer;
}

fieldset {
    border: none;
}

label {
    font-family: 'helvetica_neueregular';
    font-family: 'helvetica_neuemedium_extended';
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/*.white-button {*/
/*    font-size: clamp();*/
/*}*/

/*Tokens*/

/*************************/
/* LIGHT / DEFAULT THEME */
/*************************/
:root {
    /* startje */
    --color-text:#111;
    --color-background:#eee;
    --color-white: #fff;

    --primary: white;
    --headerBg: #D9D9D9;
    --textColor: #0e0f0f;
    --secondTextColor: #424242;
    --bg: #ffffff;

    /*general*/
    --generalBackground: #ffffff;
    --generalColor: #000000;

    --headingBackground:
            linear-gradient(
                    135deg,
                    Black 25%,
                    DarkMagenta 50%
            );
    --headingFontWeight:300;

    /*header*/
    --headerBackground:
            linear-gradient(
                    135deg,
                    #1E90FFaa 10%,
                    #FF1493aa,
                    #DC143Caa,
                    #FFD700aa 90%
            );
    /*Sub header*/
    --subBackground: #F3F3F3;

    /*titles*/
    /*Misschien dat deze titels dezelfde var kunnen hebben, later checken*/
    --titleColor: #000000;
    --linkColor: #000000;

    /*text*/
    --primarytextColor: #000000;
    --subTextColor: #444;
    --linkText: #757575;

    /*nav icons*/
    --lightIcon: none;
    --darkIcon: block;

    /* button */
    --buttonText: #ffff;
    --buttonBackground: #000000;


}


/**************/
/* DARK THEME */
/**************/
:root[data-color-mode="dark-mode"] {
    /*general*/
    --generalBackground: #000000;
    --generalColor: #FFFFFF;
    --secondTextColor: #757575;

    --headingBackground:
            linear-gradient(
                    135deg,
                    White 25%,
                    Orange 75%
            );

    /*titles*/
    --titleColor: #ffffff;
    --linkColor: #ffffff;

    /*text*/
    --subTextColor: #fff;

    /* header */
    --headerBackground: #000000;

    /*Sub header*/
    --subBackground: #0b0b0b;

    /*nav icons*/
    --lightIcon: block;
    --darkIcon: none;

    --labelBackground:#0008;

    /* button */
    --buttonText: #111;;
    --buttonBackground: #ffffff;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
    margin: 0;
    background: var(--generalBackground);
    transition: background 500ms ease-in-out, color 200ms ease;
    color:var(--generalColor);
    background:var(--generalBackground);

    /* heeft nu alleen impact voor de check-box */
    /*accent-color:var(--generalAccentColor);*/

}

h1, h2, h3 {
    color: var(--titleColor);
}

h1 {
    font-family: 'helvetica_neuemedium_extended';
}

h2 {
    font-family: 'helvetica_neuemedium_extended';
}

h2, h3 {
    font-family: 'helvetica_neuemedium_extended';
}

h4 {
    font-family: 'helvetica_neuemedium_extended';
}

p {
    font-family: 'helvetica_neueregular';
    color: var(--primarytextColor);
}

button {
    width: fit-content;
    padding: 0.6em 1em;
    border-radius: 2em;
    border: 0.1em solid transparent;
    background: var(--buttonBackground);
    color: var(--buttonText);
    font-family: 'helvetica_neuemedium_extended';
    font-size: 1em;
}

/*Flex grow gebruiken voor de ul li elementen*/

nav {
    /*position: sticky;*/
    /*top: 0;*/
    background-color: var(--headerBackground);
    margin: 0;
    padding: 0;
    height: 68px;
    display: flex;
    align-items: center;
}

.light-icon {
    display: var(--darkIcon);
    /*height: 100%;*/
}

.dark-icon {
    display: var(--lightIcon);
    /*height: 100%;*/
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 1em;
    height: auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

nav ul li:first-child {
    margin-right: auto;
    height: 4em;
}

nav ul li:nth-of-type(1) img {
    height: 100%;
}

nav ul li button {
    width: fit-content;
    background: transparent;
}

nav ul li button p {
    margin: 0;
    font-size: 1em;
    width: fit-content;
    font-family: 'helvetica_neuemedium_extended';
}

nav ul li a {
    width: 40px;
    height: 40px;
    display: flex;
    padding: 0.5em;
}

nav ul li button {
    height: 40px;
    width: 40px;
    font-family: 'helvetica_neuemedium_extended';
    font-size: 1em;
    padding: 0;
    margin: 0;
    border: none;
}

header section {
    height: 68px;
    background-color: var(--subBackground);
    display: flex;
}

header section ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header section ul li {
    list-style: none;
    text-align: center;
}

header section ul li p {
    font-size: 16px;
    font-family: 'helvetica_neuemedium_extended';
    line-height: 0;
}

header section ul li a {
    font-size: 12px;
    font-family: 'helvetica_neuemedium_extended';
    color: var(--linkColor);
}

main {
    padding: 0 1.5em 1.5em 1.5em;

}

main section:first-of-type {
    /*background: gray;*/
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /*flex: wrap;*/
    overflow: hidden;
}

main section:first-of-type p {
    font-family: 'helvetica_neuemedium_extended';
}

main section:first-of-type h2 {
    padding: 0;
    margin: 0;
    text-transform: inherit;
    font-size: 1em;
    letter-spacing: -0.03em;
}

main section:first-of-type video {
    order: -2;
}

main section:first-of-type h3 {
    order: -1;
    margin: 1.5em 0 0 0;
    /*font-family: 'helvetica_neuemedium_extended';*/
    line-height: 1.5;
    font-size: 1em;
    font-weight: 500;
    gap: 1em;
}

main section:first-of-type ul {
    margin: 0.5em 0 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 1em;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
    overflow: scroll;
}

main section:first-of-type button {
    /*width: fit-content;*/
    /*padding: 0.02em 1em;*/
    /*border-radius: 2em;*/
    /*border: 1em solid transparent;*/
    /*background: var(--buttonBackground);*/
    /*color: var(--buttonText);*/
    /*font-family: 'helvetica_neuemedium_extended';*/
    /*font-size: 1em;*/
}

main section:nth-of-type(2) {
    margin: 6em 0 0 0;
}

main section:nth-of-type ul li {
    /*flex-basis: 80%;*/
    flex-shrink: 0;
    /*scroll-snap-align: center;*/
}

main section:nth-of-type ul li img {
    display: block;
    width: 100%;
    max-height: 22em;
}

main section:nth-of-type(2) h2 {
    font-size: 1.2em;
}

main section:nth-of-type(2) h2:nth-of-type(1) {
    float: left;
    width: 80%
}

main section:nth-of-type(2) h2:nth-of-type(2) {
    float: right;
    color: #757575;
    width: 20%;
}

main section:nth-of-type(2) {
    padding: 0;
}

main section:nth-of-type(2) ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4em
}

main section:nth-of-type(2) ul li button {
    width: 100%;
    background: white;
    border: 1px solid #0b0b0b;
    color: black;
    border-radius: 1px;
}

/*Hieronder nog CSS van homepagina*/

/*duidelijker*/

main section:nth-of-type(3) {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

main section:nth-of-type(3) h2 {
    display: flex;
    flex-direction: column;
    order: 0;
}

main section:nth-of-type(3) h3 {
    order: 4;
    padding: 0;
    margin: 0;
    line-height: 1em;
    font-family: 'futura_stdXBdCn';
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: -0.03em;
}

main section:nth-of-type(3) p {
    order: 3;
    font-family: 'helvetica_neuemedium_extended';
}

main section:nth-of-type(3) button {
    width: fit-content;
    order: 5;
    margin: 2em 0 0 0;
}

main section:nth-of-type(3) img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    order: 1;
}

main section:nth-of-type(3) {
    margin: 6em 0 0 0;
    /*display: none;*/
}

main section:nth-of-type(4) {
    margin: 6em 0 0 0;
}

main section:nth-of-type(4) ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding: 0;
}

main section:nth-of-type(4) ul li {
    width: 100%;
    min-height: 480px;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(255, 246, 252, 0), rgba(0, 0, 0, 0.73)), url("../images/app_pic_woman.jpg");
    background-size: cover;
    background-position: center;
}

main section:nth-of-type(4) ul li:nth-of-type(2) {
    background-image: linear-gradient(to bottom, rgba(255, 246, 252, 0), rgba(0, 0, 0, 0.73)), url("../images/woman-running-with-app.jpg");
}

main section:nth-of-type(4) h3 {
    color: white;
}

main section:nth-of-type(4) ul li button {
    width: fit-content;
    background-color: white;
    color: black;
}

main section:nth-of-type(5) ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

main section:nth-of-type(5) ul li:first-of-type {
    background-image: linear-gradient(to bottom, rgba(255, 246, 252, 0), rgba(0, 0, 0, 0.73)), url("../images/run-app-girl-with-jacket.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main section:nth-of-type(5) h3 {
    color: #ffffff;
}

main section:nth-of-type(5) p {
    color: #ffffff;
}

main section:nth-of-type(5) ul li button {
    width: fit-content;
    background: #ffffff;
    color: #000000;
}

footer section:nth-of-type(1) {
    padding: 1em;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer section:nth-of-type(1) ul {
    /*padding: 1em;*/
    display: flex;
    flex-direction: column;
}

footer section ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer section:nth-of-type(1) ul li a {
    font-family: 'helvetica_neuemedium_extended';
    display: block;
    text-decoration: none;
    color: var(--linkText);
    margin: 0 0 1em 2em;
}

footer section:nth-of-type(2) {
    gap: 1.5em;
    padding: 2em 1em 1em 1em;
    background: #111;
}

footer section:nth-of-type(2) ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #323232;
    margin: 0 0 1em 0;
}

footer section:nth-of-type(2) ul:nth-of-type(1) li:last-child {
    margin: 0 0 1em 0;
}

footer section:nth-of-type(2) li {
    display: flex;
    flex-direction: column;
}

footer section:nth-of-type(2) li a {
    flex-direction: column;
    font-family: 'tradegothic_lt_condeighteenBd';
    display: block;
    font-size: 0.8em;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 100;
}

footer section:nth-of-type(2) ul:nth-of-type(3) {
    margin: 3em 0 0 0;
    display: flex;
    flex-direction: row;
}

footer section:nth-of-type(2) ul:nth-of-type(4) {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0 0 0;
}

footer section:nth-of-type(2) ul:nth-of-type(4) li a img {
    padding-top: 0.2em;
    margin: 0 1em 0 0;
}

footer section:nth-of-type(2) ul:nth-of-type(4) li:nth-of-type(1) a {
    line-height: 2em;
    color: #ffffff;
}

footer section button {
    font-family: 'tradegothic_lt_condeighteenBd';
    display: block;
    font-size: 0.8em;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 100;
    padding: 0;
    border: 0;
    background: none;
}

footer section:nth-of-type(2) ul:nth-of-type(4) li p {
    color: #7e7e7e;
    font-size: 0.8em;
    font-family: 'helvetica_neueregular';
}

footer section:nth-of-type(2) ul:nth-of-type(4) li a {
    font-family: 'helvetica_neueregular';
    text-transform: none;
    color: #7e7e7e;
}


