/******************/
/*FONTS*/
/*****************/

@font-face {
    font-family: 'helvetica_neueregular';
    src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neuemedium_extended';
    src: url('../fonts/helvetica_neue_medium_extended-webfont.woff2') format('woff2'),
    url('../fonts/helvetica_neue_medium_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_stdbold_condensed';
    src: url('../fonts/futurastd-condensedbold-webfont.woff2') format('woff2'),
    url('../fonts/futurastd-condensedbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_stdXBdCn';
    src: url('../fonts/futurastd-condensedextrabd-webfont.woff2') format('woff2'),
    url('../fonts/futurastd-condensedextrabd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
    --color-white: #fff;

    --primary: white;
    --headerBg: #D9D9D9;
    --textColor: #0e0f0f;
    --bg: #ffffff;
    --nav-bg: #F5F5F5;

    /*testing dark*/
    --color-mode: 'light';
    --color-dark: #141414;
    --color-dark-alpha: rgba(0, 0, 0, 0.1);
    --color-light: #efefef;
    --color-light-alpha: rgba(255, 255, 255, 0.9);
    --background: #efefef;
    --text-color: #141414;
    --button-background: var(--color-dark);
    --button-color: var(--color-light);
    --border-color: var(--color-dark-alpha);
}

@media (prefers-color-scheme: light) {
    /*light mode*/
}

@media (prefers-color-scheme: no-preference) {

}

.white-button {
    font-size: clamp();
}

/*.visually-hidden {*/
/*    display: block;*/
/*    height: 1px;*/
/*    width: 1px;*/
/*    overflow: hidden;*/
/*    clip: rect(1px 1px 1px 1px);*/
/*    clip: rect(1px, 1px, 1px, 1px);*/
/*    clip-path: inset(1px);*/
/*    white-space: nowrap;*/
/*    position: absolute;*/
/*}*/

/*Dark scheme*/

@media (prefers-color-scheme: dark) {
    /*dark mode*/
    :root {
        --color-mode: 'dark';
        --primary: black;
        --headerBg: #0A0908;
        --textColor: #EAE0D5;
        --bg: #000000;
    }

    :root:not([data-user-color-scheme]) {
        --background: var(--color-dark);
        --text-color: var(--color-light);
        --button-background: var(--color-light);
        --button-color: var(--color-dark);
        --border-color: var(--color-light-alpha);
    }
}

[data-user-color-scheme='dark'] {
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --button-background: var(--color-light-alpha);
    --button-color: var(--color-dark);
    --border-color: var(--color-light-alpha);
}

.no-js .user-toggle {
    display: none;
}

.user-toggle {
    margin: 2rem auto 0 auto;
    padding-top: 2.5rem;
    max-width: 20rem;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

.toggle-button {
    /*display: inline-flex;*/
    background: var(--button-background);
    color: var(--button-color);
    border: none;
    font: inherit;
    /*font-size: 1.5rem;*/
    /*padding: 0.5rem 1rem;*/
    transition: background 500ms ease-in-out, color 200ms ease;
    width: fit-content;
}

/*Tokens*/

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
    margin: 0;
    background: var(--background);
    color: var(--text-color);
    transition: background 500ms ease-in-out, color 200ms ease;
}

/*Flex grow gebruiken voor de ul li elementen*/

nav {
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
    height: 68px;
    display: flex;
    align-items: center;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 1em;
    height: auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

nav ul li:first-of-type {
    margin-right: auto;
    /*height: 20px;*/
}

nav ul li:nth-of-type(1) img {
    height: 100%;
}

nav ul li button {
    width: fit-content;
}

nav ul li button p {
    margin: 0;
    font-size: 1em;
    width: fit-content;
    font-family: 'helvetica_neuemedium_extended';
}

nav ul li a {
    width: 40px;
    height: 40px;
    /*background-color: yellow;*/
    display: flex;
    padding: 0.5em;
}

nav ul li button {
    height: 40px;
    width: 40px;
    font-family: 'helvetica_neuemedium_extended';
    font-size: 1em;
}

header section {
    height: 68px;
    background-color: var(--nav-bg);
    display: flex;
}

header section ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header section ul li {
    list-style: none;
    text-align: center;
}

header section ul li p {
    font-size: 16px;
    font-family: 'helvetica_neuemedium_extended';
    line-height: 0;
}

header section ul li a {
    font-size: 12px;
    font-family: 'helvetica_neuemedium_extended';
    color: #000000;
}

main {
    padding: 1em;
}

main section:first-of-type {
    /*background: gray;*/
    width: 100%;
    min-height: 480px;
    /*padding: 1em;*/
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: wrap;
}

main section:first-of-type h2 {
    padding: 0;
    margin: 0;
    font-family: 'futura_stdXBdCn';
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: -0.03em;
}

main section:first-of-type video {
    order: -2;
}

main section:first-of-type h3 {
    order: -1;
    margin: 0;
    font-family: 'helvetica_neuemedium_extended';
    color: #111111;
    line-height: 1.5;
    font-size: 1em;
    font-weight: 500;
}

main section:first-of-type ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 0.5em
}

main section:first-of-type button {
    width: fit-content;
    padding: 0.02em 1em;
    border-radius: 2em;
    border: 1em solid transparent;
    background: #fff;
    color: #111;
    font-family: 'helvetica_neuemedium_extended';
    font-size: 1em;
}

main section:nth-of-type(2) {
    /*position: relative;*/
    /*outline:none;*/
}

main section:nth-of-type(2) ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1em;
    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
    overflow: scroll;
}

main section:nth-of-type(2) ul li {
    /*flex-basis: 80%;*/
    flex-shrink: 0;
    /*scroll-snap-align: center;*/
}

/*main section:nth-of-type(2) ul li:first-of-type{*/
/*    height: 300px;*/
/*}*/

main section:nth-of-type(2) ul li img {
    display: block;
    width: auto;
    max-height: 400px;
}

main section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(3) h2 {
    display: flex;
    flex-direction: column;
    order: 0;
}

main section:nth-of-type(3) h3 {
    order: 4;
}

main section:nth-of-type(3) p {
    order: 3;
}

main section:nth-of-type(3) button {
    width: fit-content;
    order: 5;
}

main section:nth-of-type(3) img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 40vh;
    order: 1;
}

main section:nth-of-type(4) ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding: 0;
}

main section:nth-of-type(4) ul li {
    width: 100%;
    min-height: 480px;
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url("../images/app_pic_woman.jpg");
    background-size: cover;
    background-position: center;
}

main section:nth-of-type(4) ul li:nth-of-type(2) {
    background-image: url("../images/woman-running-with-app.jpg");
}

main section:nth-of-type(4) ul li button {
    width: fit-content;
}

main section:nth-of-type(5) ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

main section:nth-of-type(5) ul li:first-of-type {
    background-image: url("../images/run-app-girl-with-jacket.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main section:nth-of-type(5) ul li button {
    width: fit-content;
}

footer section:nth-of-type(1) {
    padding: 1em;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer section:nth-of-type(1) ul {
    /*padding: 1em;*/
}

footer section:nth-of-type(2) {
    padding: 1em;
    background: black;
}
